<div class="container">
    <div class="form-wrapper">
        <div class="form-wrapper__left">
            <div class="form-wrapper__left--sign-in">
                <h2>Don't have an account?</h2>
                <a class="button button__ghost button__ghost--primary">Sign Up</a>
            </div>
            <div class="form-wrapper__left--sign-up inactive">
                <h2>Already have an account?</h2>
                <a class="button button__ghost button__ghost--secondary">Sign In</a>
            </div>
        </div>
    <div class="form-wrapper__right">
        <div class="form-wrapper__right--sign-in">
            <app-login></app-login>
        </div>
        <div class="form-wrapper__right--sign-up inactive">
            <app-register></app-register>
        </div>
    </div>
</div>
</div>