.logo {
  width: 136px;
  float: left;
  margin-right: 31px;
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.inner-layout {
  padding: 0 24px 24px;
  overflow-y: scroll;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: auto;
}

nz-layout {
  height: 100%;
  overflow: hidden;
}
