.site-footer {
    @include font-size(8, mobile, true, true, true);
    @if ( get-font-size(8, desktop) != get-font-size(8, mobile) ) {
        @include media( '>medium' ) {
            @include font-size(8, desktop, true, true, true);
        }
    }

    a {
        @include anchor-aspect(footer);
    }
}

.footer-ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
  }
  
  @media (min-width: 500px) {
    .footer-ul {
      grid-auto-flow: column;
    }
  }
  
  .footer-a {
    color: white;
    text-decoration: none;
  }
  
  .footer-a:hover {
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
    text-decoration: none;
  }
  
  .footer-li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .footer-li:hover ~ .footer-li p {
    animation: wave-animation 0.3s infinite;
  }
  
  /* below is just for demo styling */
  
  
  @keyframes wave-animation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-15deg);
    }
  }
  

.site-footer-inner {
    position: relative; /* To display all elements above the background color */
    flex-wrap: wrap;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    place-content: center;
    font-size: 24px;
}

.footer-brand,
.footer-links,
.footer-social-links,
.footer-copyright {
    flex: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.footer-brand,
.footer-links,
.footer-social-links {
    margin-bottom: 24px;
}

.footer-social-links {

    li {
        display: inline-flex;

		+ li {
			margin-left: 16px;
		}

        a {
            padding: 8px;
        }
    }
}

.footer-links {

    li {

        + li {
            margin-left: 24px;
        }
    }
}

@include media( '>medium' ) {

    .site-footer-inner {
		padding-top: 64px;
		padding-bottom: 64px;
    }

    .footer-brand,
    .footer-links,
    .footer-social-links,
    .footer-copyright {
        flex: 50%;
    }

    .footer-brand,
    .footer-copyright {
        justify-content: flex-start;
    }

    .footer-links,
    .footer-social-links {
        justify-content: flex-end;
    }

    .footer-links {
        order: 1;
        margin-bottom: 0;
    }
}
