<nz-layout>
  <nz-header>
    <div class="logo">
      <img style="width: 130px;
      height: 105px;
      margin-top: -3px;" src="../../assets/logo2.png" alt="">
    </div>
    <!-- <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul> -->
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <button nz-button nzType="dashed" style="height: 70px;" routerLink='/tournament-form' nzBlock>Create tournament</button>
      <div class="select">
        <nz-select style="width: 200px;" [(ngModel)]="selectedTournament" [nzSize]="'large'" *ngIf="this.tournamentList.length > 0">
          <nz-option *ngFor="let option of tournamentList" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
      </div>
      <div>
        <img src="" alt="">
      </div>
      <ul nz-menu [nzMode]="'inline'">
        <li nz-menu-item [nzMatchRouter]='true' [routerLink]="['/dashboard/summary']"><i nz-icon type="dashboard"></i>Vue d'ensemble</li>
        <li nz-menu-item [routerLink]="['/dashboard/settings']"><i nz-icon type="control"></i>Paramètres</li>
        <li nz-menu-item [routerLink]="['/dashboard/players']"><i nz-icon type="team"></i>Participants</li>
        <li nz-menu-item [routerLink]="['/dashboard/placements']"><i nz-icon nzType="apartment" nzTheme="outline"></i>Placement</li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{activeLink}}</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{selectedTournament}}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>